In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Pyspark').getOrCreate()

In [ ]:
df=spark.read.csv('/Students_Marks_List (1).csv',header=True,inferSchema=True)

DIsplay top 3 rows

In [ ]:
df.show(3)

+-------+-----+------+-----+
|    _c0|  _c1|   _c2|  _c3|
+-------+-----+------+-----+
|Roll_No| Name|Gender|Marks|
|      1| Ansh|  Male|   78|
|      2|Rahul|  Male|   85|
+-------+-----+------+-----+
only showing top 3 rows

display data type of each coloum

In [ ]:
df.printSchema()

root
 |-- Roll_No: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marks: integer (nullable = true)

display column names

In [ ]:
df.columns

['Roll_No', 'Name', 'Gender', 'Marks']

count number of rows and columns of the dataset

In [ ]:
df.count()

40

In [ ]:
len(df.columns)

4

get overall statistics about the dataset

In [ ]:
df.describe().show()

+-------+-----------------+--------+------+-----------------+
|summary|          Roll_No|    Name|Gender|            Marks|
+-------+-----------------+--------+------+-----------------+
|  count|               40|      40|    40|               40|
|   mean|             20.5|    NULL|  NULL|           82.525|
| stddev|11.69045194450012|    NULL|  NULL|8.196270258711953|
|    min|                1|Abhishek|Female|               67|
|    max|               40|  Yogesh|  Male|               95|
+-------+-----------------+--------+------+-----------------+

unique values available in the gender column

In [ ]:
df.columns

['Roll_No', 'Name', 'Gender', 'Marks']

In [ ]:
df.toPandas()['Gender'].unique()

array(['Male', 'Female'], dtype=object)

Find total number of unique value available in the gender column

In [ ]:
len(df.toPandas()['Gender'].unique())

2

how to select single coloum

In [ ]:
df.select('Name').show()

+---------+
|     Name|
+---------+
|     Ansh|
|    Rahul|
|    Sneha|
|    Pooja|
|     Amit|
|     Neha|
|    Rohit|
|    Kiran|
|    Priya|
|  Saurabh|
|Aishwarya|
|    Vikas|
|    Komal|
|   Nikhil|
|   Shreya|
|   Aditya|
|     Riya|
|    Akash|
|    Tanvi|
|   Yogesh|
+---------+
only showing top 20 rows

how to select multiple columns

In [ ]:
df.select(['Name','Gender']).show()

+---------+------+
|     Name|Gender|
+---------+------+
|     Ansh|  Male|
|    Rahul|  Male|
|    Sneha|Female|
|    Pooja|Female|
|     Amit|  Male|
|     Neha|Female|
|    Rohit|  Male|
|    Kiran|  Male|
|    Priya|Female|
|  Saurabh|  Male|
|Aishwarya|Female|
|    Vikas|  Male|
|    Komal|Female|
|   Nikhil|  Male|
|   Shreya|Female|
|   Aditya|  Male|
|     Riya|Female|
|    Akash|  Male|
|    Tanvi|Female|
|   Yogesh|  Male|
+---------+------+
only showing top 20 rows

create new column with marks + 1 and also update existing dataframe

In [ ]:
df.withColumn('New_Marks',df.Marks+1).show()

+-------+---------+------+-----+---------+
|Roll_No|     Name|Gender|Marks|New_Marks|
+-------+---------+------+-----+---------+
|      1|     Ansh|  Male|   78|       79|
|      2|    Rahul|  Male|   85|       86|
|      3|    Sneha|Female|   92|       93|
|      4|    Pooja|Female|   88|       89|
|      5|     Amit|  Male|   67|       68|
|      6|     Neha|Female|   90|       91|
|      7|    Rohit|  Male|   73|       74|
|      8|    Kiran|  Male|   81|       82|
|      9|    Priya|Female|   95|       96|
|     10|  Saurabh|  Male|   69|       70|
|     11|Aishwarya|Female|   84|       85|
|     12|    Vikas|  Male|   76|       77|
|     13|    Komal|Female|   91|       92|
|     14|   Nikhil|  Male|   72|       73|
|     15|   Shreya|Female|   89|       90|
|     16|   Aditya|  Male|   83|       84|
|     17|     Riya|Female|   94|       95|
|     18|    Akash|  Male|   70|       71|
|     19|    Tanvi|Female|   86|       87|
|     20|   Yogesh|  Male|   79|       80|
+-------+---------+------+-----+---------+
only showing top 20 rows

rename name column and give new name "Student_name"

In [ ]:
df.withColumnRenamed('Name','Student_name').show()

+-------+------------+------+-----+
|Roll_No|Student_name|Gender|Marks|
+-------+------------+------+-----+
|      1|        Ansh|  Male|   78|
|      2|       Rahul|  Male|   85|
|      3|       Sneha|Female|   92|
|      4|       Pooja|Female|   88|
|      5|        Amit|  Male|   67|
|      6|        Neha|Female|   90|
|      7|       Rohit|  Male|   73|
|      8|       Kiran|  Male|   81|
|      9|       Priya|Female|   95|
|     10|     Saurabh|  Male|   69|
|     11|   Aishwarya|Female|   84|
|     12|       Vikas|  Male|   76|
|     13|       Komal|Female|   91|
|     14|      Nikhil|  Male|   72|
|     15|      Shreya|Female|   89|
|     16|      Aditya|  Male|   83|
|     17|        Riya|Female|   94|
|     18|       Akash|  Male|   70|
|     19|       Tanvi|Female|   86|
|     20|      Yogesh|  Male|   79|
+-------+------------+------+-----+
only showing top 20 rows

display name of the student having marks greater than 90

In [ ]:
df.filter(df['Marks']>90).select('Name').show()

+-------+
|   Name|
+-------+
|  Sneha|
|  Priya|
|  Komal|
|   Riya|
| Mayuri|
|Bhavika|
|Nandini|
|  Kavya|
+-------+

display name of the student having marks greater than 90

In [ ]:
df.filter((df['Marks']<90) & (df['Gender']=='Female')).select('Name').show()

+---------+
|     Name|
+---------+
|    Pooja|
|Aishwarya|
|   Shreya|
|    Tanvi|
|  Pallavi|
| Shraddha|
|   Manasi|
|Vaishnavi|
|    Megha|
+---------+

display name of the male student having marks greater than 90

In [ ]:
df.filter((df['Marks']>90) & ~(df['Gender']=='Female')).select('Name').show()

+----+
|Name|
+----+
+----+

display avg marks

In [ ]:
df.groupBy('Gender').mean().select(['Gender','avg(Marks)']).show()

+------+-----------------+
|Gender|       avg(Marks)|
+------+-----------------+
|Female|89.78947368421052|
|  Male|75.95238095238095|
+------+-----------------+

sort every row of the dataset into descending order

In [ ]:
df.orderBy(df['Marks']).show()

+-------+---------+------+-----+
|Roll_No|     Name|Gender|Marks|
+-------+---------+------+-----+
|      5|     Amit|  Male|   67|
|     24|    Omkar|  Male|   68|
|     10|  Saurabh|  Male|   69|
|     18|    Akash|  Male|   70|
|     28|   Sanket|  Male|   71|
|     14|   Nikhil|  Male|   72|
|      7|    Rohit|  Male|   73|
|     32|    Harsh|  Male|   74|
|     22|  Swapnil|  Male|   75|
|     12|    Vikas|  Male|   76|
|     38| Abhishek|  Male|   76|
|     26|   Pratik|  Male|   77|
|      1|     Ansh|  Male|   78|
|     36|Siddharth|  Male|   78|
|     20|   Yogesh|  Male|   79|
|     30|    Tejas|  Male|   80|
|      8|    Kiran|  Male|   81|
|     40|      Raj|  Male|   81|
|     34|  Atharva|  Male|   82|
|     16|   Aditya|  Male|   83|
+-------+---------+------+-----+
only showing top 20 rows

handling missing values